body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: linear-gradient(to bottom, #a8dadc, #457b9d);
    color: #333;
}

header, footer {
    background-color: #1d3557;
    color: white;
    padding: 0.5em; /* Reduced padding */
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #1d3557;
    color: white;
    padding: 0.5em; /* Reduced padding */
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 0.9em; /* Reduced font size */
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1em;
    width: 100%;
    max-width: 800px;
    padding: 6em 1em 1em; /* Add top padding to avoid content being hidden behind the fixed header */
    box-sizing: border-box;
    margin: 0 auto;
}
#calendar {
    display: none;
}

section {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 1.5em;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:hover {
    transform: scale(1.02);
}

button {
    margin-top: 1em;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 20px;
    background-color: #457b9d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1d3557;
}

input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: calc(100% - 1em);
    margin-top: 1em;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #457b9d;
    outline: none;
}

.completed {
    text-decoration: line-through;
    color: #888;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.task-text {
    flex: 1;
    margin-right: 1em;
}

li button {
    padding: 0.3em 0.6em;
    border-radius: 12px;
    background-color: #457b9d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #1d3557;
}

#exercise-suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5em;
}



/* Styles for screens less than 500px */
@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    section {
        margin-bottom: 0;
    }
}

/* Dark Mode Styles */

body.dark-mode {
    background: linear-gradient(to bottom, #111, #000);
}

body.dark-mode header {
    background-color: #02001d;
    color: #eee;
    border-color: #444;
}

body.dark-mode footer {
    background-color: #02001d;
    color: #eee;
    border-color: #444;
}

body.dark-mode section {
    background-color: #222;
    color: #eee;
    border-color: #444;
}

#toggle-dark-mode {
    position: absolute;
    top: 2px;
    right: 20px;
    z-index: 1000;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    max-width: 90%;
    max-height: 50px;
}

@media (max-width: 746px) {
    #toggle-dark-mode {
        position: right;
        right: 2px;
        padding: 1px 1px;
        font-size: 8px;
        margin-top: 62px;
        width: 11vw;
        height: 5vw;
    }
}

@media (min-width: 747px) and (max-width: 1080px) {
    #toggle-dark-mode {
        position: right;
        margin-top: 40px;
        right: 3px;
        padding: 1px 1px;
        font-size: 8px;
        width: 6vw;
        height: 2.5vw;
    }
}
